#!/usr/bin/env bash

## example chruby setup
source '/usr/local/share/chruby/chruby.sh'
chruby "$(cat .ruby-version)"

## example rvm setup
# [[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm
# rvm use . > /dev/null
